header {
	width: 90%;
	height: 100px;
	margin: 10px;
	margin-top: 0px;
	padding: 4px;
}

div#main {
	width: 90%;
	margin: 10px;
	padding: 4px;
}

nav#nav {
	height: 60px;
	padding: 4px;
}

div#progetto a {
	display: block;
}

div#progetto {
	height: 60px;
	padding: 4px;
}