{% extends "base.jinja" %}
{% block title_description %}Home Page{% endblock %}
{% block main %}
	<div>
		Dashboard <br>
		<a href="ordine.py">Fai un oridne</a>
	</div>
	<div>
		Il tuo credito residuo: {{credito}}
	</div>
	<div>
		I tuoi record <br>

		{% for record in records %}
			{{record.id}} {{record.nome}} {{record.expiration}} <br>
		{% endfor %}
	</div>
{% endblock %}